@model Tarea3.Models.Profesor;

@{
  ViewData["Title"] = "Detalles Profesor";
  Layout = "~/Views/Layouts/_General.cshtml";
}

<div class="container">
  <h2>Detalles de la Profesor</h2>
    <h3 class="p-2 text-light bg-primary navbar-brand">@Model.Nombre</h3>
  <div class="container row h-25 w-100">
    <img class="col image-detalles" src="~/images/logo-montecastelo.png" />
    <div class="col d-flex justify-content-between">
      <p>EDAD DEL PROFESOR: @Model.Edad</p>
      <p>MATERIAL DEL PROFESOR: @Model.Materia</p>
    </div>
  </div>
  <div class="text-center text-light bg-secondary py-2">
    ¡Los mejores profesores!
  </div>
  <div class="text-center bg-primary py-1">
    <a class="text-light" asp-controller="Profesor" asp-action="Lista">Volver</a>
  </div>
  <footer>
  </footer>
</div>
