@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Perfil</title>
</head>
<body>
    <h2>Perfil</h2>

    <p>Nombre de usuario: @ViewBag.Username</p>
</body>
</html>
