@{

    <div class="container">
        <div class="row d-flex justify-content-around" id="cv_header">
            <div class="col-8">
                <h1><span class="name">Shinchan</span></h1>
                <p>shinchan@gmail.com</p>
                <p>+34 611 111 111</p>
                <p>Osaka, Japón</p>
            </div>
            <div class="col-2">
                <img src="/img/shinchan.png" id="personal_img">
            </div>
        </div>
        <div class="about">
            <h2>Sobre mí</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nullam eleifend nibh id aliquet molestie. Phasellus suscipit nibh eget porttitor dapibus.
                Aliquam erat volutpat. Fusce ac arcu in risus sodales ornare. Pellentesque vel lobortis enim.
                Aenean vitae ligula luctus, ullamcorper diam at, placerat urna. Morbi lacinia placerat blandit.
                Nullam vestibulum bibendum dapibus. Sed mauris ante, dignissim non est sed, sagittis suscipit augue.
            </p>
        </div>
        <div class="row" id="cv_body">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#work">Experiencia Profesional</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#study">Estudios Realizados</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="work" class="tab-pane fade show active">
                    <div class="job">
                        <h3>Niño</h3>
                        <h6> 1999-Actualmente</h6>
                        <p>Tengo 5 años</p>
                    </div>
                </div>
                <div id="study" class="tab-pane fade">
                    <div class="stud">
                        <h3>Educación Primaria</h3>
                        <h6> 1999-Actualemnte</h6>
                        <p>
                            Escuela Kasukabe
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="cv_tec">
            <div class="row "><p class="tec-tittle d-flex justify-content-center">TECNOLOGÍAS QUE CONOZCO</p></div>
            <div class="row mb-5 mt-5 d-flex justify-content-around">
                <div class="col text-center">
                    <div class="tec-img" id="tec_img_3">
                        <img src="~/img/javascript.svg" id="tec_img">
                    </div>
                </div>
                <div class="col text-center">
                    <div class="tec-img">
                        <img src="~/img/2560px-Sass_Logo_Color.svg.png" id="tec_img">
                    </div>
                </div>
                <div class="col text-center">
                    <div class="tec-img" id="tec_img_2">
                        <img src="~/img/React-icon.svg" id="tec_img">
                    </div>
                </div>
                <div class="col text-center">
                    <div class="tec-img" id="tec_img_4">
                        <img src="~/img/pngegg.png" id="tec_img">
                    </div>
                </div>
            </div>
        </div>
    </div>
}
