@model Ejercicio1.Models.Producto

@{
    ViewData["Title"] = "Crear Producto";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm("Guardar", "Producto"))
{
    <div>
        <label>Nombre:</label>
        @Html.TextBoxFor(model => model.Nombre)
    </div>

    <div>
        <label>Precio:</label>
        @Html.TextBoxFor(model => model.Precio)
    </div>

    <button type="submit">Guardar</button>
}
