@model IEnumerable<Ejercicio1.Models.Producto>

@{
    ViewData["Title"] = "Lista de Productos";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>

<p>
    @Html.ActionLink("Crear Producto", "Crear")
</p>

@Html.Partial("TablaProductos", Model)
